input {
    background-color: #F6F9FF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;

}

input::placeholder {
    color: #C8C8C8;
    @apply capitalize;
}

label {
    @apply mb-[8px];
}



.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button[role="combobx"] {
    background-color: #F6F9FF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}